# Accident Propensity Index Calculation v04
--- Ready for Deployment ---

Including efficiency features. Assumes that splines are not longer than around 5.5km since for each start point, only accidents within a radius of, in the most sub-optimal case, 5.5km are checked. This takes .08 seconds. When using 10km radius, it takes .17 seconds. With 100km radius it thakes .36 seconds.

## Import libraries

In [1]:
# Import relevant libraries
import pandas as pd
import math
import folium
import numpy as np

## Efficiency variables

In [2]:
# Define the bucket size: 1 would be every longitude/latitude (ca. 110km); 10 is 1/10th (ca. 11km); 100 is 1/100th (ca. 1.1km); 1000 is 1/1000th (ca. 0.11km)
bucket_length = 1000

# Maximal distance of accidents from route in kilometers
max_distance = 0.05

## Split accident data into buckets - run once at start

In [3]:
# Read the dataframe with the accident locations -> has only columns ID, Start_Lat, and Start_Lng
raw_data = pd.read_csv('final_accident_data.csv')

# Functions to generate latitude and longitude IDs for the bucketing
def get_lat_id(lat):
    return int(lat*bucket_length)
def get_lng_id(lng):
    return int(lng*bucket_length)

# Assign bucketing IDs to each accident
raw_data["lat_id"] = raw_data["Start_Lat"].apply(get_lat_id)
raw_data["lng_id"] = raw_data["Start_Lng"].apply(get_lng_id)

# Group by bucketing IDs
groups = raw_data.groupby(['lat_id', 'lng_id'])

# Iterate over the groups and create individual dataframes
for name, group in groups:
    # Create the dataframe name
    df_name = f"accidents_{name[0]}_{name[1]}"
    
    # Create the dataframe
    vars()[df_name] = group.copy()

# Get a copy of all global variables
global_vars = globals().copy()

## Load severity data

In [4]:
# Load csv
severity_data = pd.read_csv('severity_data.csv')

## Functions to calculate distances and find accidents on route - run once at start

In [5]:
# Define a function to calculate the distance between two points
def distance(point1, point2):
    lat1, lon1 = point1
    lat2, lon2 = point2
    km_per_lat = 110.574 # km per degree latitude
    km_per_lon = 111.320 # km per degree longitude at the equator
    dx = (lon2 - lon1) * km_per_lon * math.cos((lat1 + lat2) / 2)
    dy = (lat2 - lat1) * km_per_lat
    return math.sqrt(dx**2 + dy**2)

# Define a function to calculate the distance between a point and a line segment
def distance_to_segment(point, segment_start, segment_end):
    px, py = point
    x1, y1 = segment_start
    x2, y2 = segment_end
    dx, dy = x2 - x1, y2 - y1
    segment_length_squared = dx*dx + dy*dy
    if segment_length_squared == 0:
        return distance(point, segment_start)
    t = max(0, min(1, ((px - x1) * dx + (py - y1) * dy) / segment_length_squared))
    x = x1 + t * dx
    y = y1 + t * dy
    return distance(point, (x, y))

# Generate dataframe of accidents close to the segment
def generate_data(start_point):
    # Extract the integer values of the start point lat and lng
    start_lat = int(start_point[0]*bucket_length)
    start_lng = int(start_point[1]*bucket_length)

    # Get the dataframes that match the criteria
    dfs_to_use = []
    for lat_offset in [-1, 0, 1]:
        for lng_offset in [-1, 0, 1]:
            lat_id = start_lat + lat_offset
            lng_id = start_lng + lng_offset
            df_name = f"accidents_{lat_id}_{lng_id}"
            if df_name in global_vars and isinstance(global_vars[df_name], pd.DataFrame):
                dfs_to_use.append(global_vars[df_name])

    # Concatenate the dataframes and reset the index
    combined_df = pd.concat(dfs_to_use)
    data = combined_df.reset_index(drop=True)
    return data

# Define a function to find accidents on a given route within a maximum distance
def find_accidents_on_route(start_point, end_point):
    # Create a mask for accidents that are within the maximum distance from the route
    data = generate_data(start_point)
    mask = data.apply(lambda row: distance_to_segment((row['Start_Lat'], row['Start_Lng']), start_point, end_point) <= max_distance, axis=1)

    # Return the accidents that match the mask
    accidents = data.loc[mask]
    return accidents[['ID', 'Start_Lat', 'Start_Lng']]

## Find accidents on route - run every time

In [6]:
route_data = {'route_lat': [33.78252, 33.78343, 33.78438, 33.78526, 33.78612, 33.78701, 33.78794, 33.78884, 33.78974, 33.79064],
              'route_long': [-84.39096, -84.39099, -84.39091, -84.39087, -84.39082, -84.39077, -84.39078, -84.39077, -84.39079, -84.39077]}

route_df = pd.DataFrame(route_data)

In [7]:
route_df

   route_lat  route_long
0   33.78252   -84.39096
1   33.78343   -84.39099
2   33.78438   -84.39091
3   33.78526   -84.39087
4   33.78612   -84.39082
5   33.78701   -84.39077
6   33.78794   -84.39078
7   33.78884   -84.39077
8   33.78974   -84.39079
9   33.79064   -84.39077

In [27]:
# Split the DataFrame into three equally sized parts
df_list = np.array_split(route_df, 5)

# Loop through the DataFrames
for i, df in enumerate(df_list):
    # Create a new DataFrame to store the results
    accidents_df = pd.DataFrame()
    # Loop through the pairs of subsequent coordinates
    for j in range(len(df) - 1):
        start_point = j
        end_point = j + 1
        # Call the function and append the results to the accidents DataFrame
        accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)
    # Drop duplicate rows from the accidents DataFrame
    accidents_df.drop_duplicates(inplace=True)
    
    # Assign a name to the accidents DataFrame based on the index of the original DataFrame
    df_index = i+1
    globals()[f'accidents_df_{df_index}'] = accidents_df
    
    # Print the resulting accidents DataFrame
    print(f'accidents_df_{df_index}:')
    print(accidents_df)

accidents_df_1:
           ID  Start_Lat  Start_Lng
0    A-152680  33.782870 -84.391229
1   A-1061831  33.782424 -84.391208
2   A-2505844  33.782878 -84.391229
3   A-2616607  33.782698 -84.391220
4   A-2738627  33.782366 -84.391216
5    A-140524  33.782290 -84.390880
6    A-493905  33.782457 -84.390849
7    A-503690  33.782457 -84.390849
8   A-1221326  33.782457 -84.390849
9   A-1409445  33.782457 -84.390849
10  A-1465177  33.782457 -84.390849
11  A-1780717  33.782457 -84.390849
12  A-1801859  33.782457 -84.390849
13  A-2485907  33.782900 -84.390850
14  A-2512851  33.782290 -84.390880
15    A-43876  33.783160 -84.390840
16   A-177208  33.783495 -84.390835
17  A-2150991  33.783230 -84.390840
18  A-2184775  33.783230 -84.390840
accidents_df_2:
           ID  Start_Lat  Start_Lng
0    A-504119  33.784686 -84.391389
1   A-1053987  33.784686 -84.391389
2   A-1266886  33.784483 -84.391373
3   A-1415465  33.784686 -84.391389
4     A-63151  33.784120 -84.390830
5     A-80758  33.784110 -84.390830
6    A-265746  33.784159 -84.390830
7    A-411259  33.784694 -84.390829
8   A-1215602  33.784159 -84.390830
9   A-1447258  33.784159 -84.390830
10  A-2079914  33.784130 -84.390830
11  A-2123923  33.784130 -84.390830
12  A-2126186  33.784130 -84.390830
13  A-2158831  33.784130 -84.390830
14  A-2179498  33.784130 -84.390830
15  A-2187080  33.784130 -84.390830
16  A-2212908  33.784130 -84.390830
17  A-2287214  33.784710 -84.390820
18  A-2287222  33.784710 -84.390820
19  A-2310933  33.784710 -84.390820
20  A-2487134  33.784710 -84.390820
21  A-2522708  33.784120 -84.390830
22  A-2531571  33.784120 -84.390830
23  A-2539934  33.784120 -84.390830
24  A-2553259  33.784120 -84.390830
25  A-2619000  33.784120 -84.390830
26  A-2719250  33.784120 -84.390830
27  A-2754351  33.784120 -84.390830
28  A-2808077  33.784710 -84.390820
29    A-42507  33.785699 -84.390815
accidents_df_3:
           ID  Start_Lat  Start_Lng
0     A-42507  33.785699 -84.390815
1   A-2401000  33.786210 -84.391430
2     A-54598  33.786942 -84.390820
3     A-62322  33.786550 -84.390820
4    A-139993  33.786070 -84.390810
5    A-409505  33.786338 -84.390803
6    A-493904  33.786338 -84.390803
7    A-495928  33.786338 -84.390803
8    A-790836  33.786338 -84.390803
9    A-965832  33.786338 -84.390803
10  A-1053988  33.786345 -84.390803
11  A-1153556  33.786338 -84.390803
12  A-1333248  33.786345 -84.390803
13  A-1772348  33.786345 -84.390803
14  A-1844526  33.786338 -84.390803
15  A-1845549  33.786338 -84.390803
16  A-1845550  33.786338 -84.390803
17  A-1882794  33.786345 -84.390803
18  A-1922464  33.786338 -84.390803
19  A-2056329  33.786338 -84.390803
20  A-2057065  33.786338 -84.390803
21  A-2554421  33.786550 -84.390820
22  A-2644838  33.786823 -84.390820
23  A-2709984  33.786070 -84.390810
24  A-2749084  33.786108 -84.390810
25  A-2754359  33.786937 -84.390820
26  A-2768041  33.786800 -84.390820
27  A-2791255  33.786550 -84.390820
28    A-48814  33.787281 -84.390820
29    A-56426  33.787278 -84.390820
30    A-75894  33.787197 -84.390820
31  A-2401001  33.787270 -84.390820
32  A-2618067  33.787270 -84.390820
33  A-2709982  33.787270 -84.390820
34  A-2814037  33.787270 -84.390820
accidents_df_4:
          ID  Start_Lat  Start_Lng
0    A-89528  33.788857 -84.390992
1  A-1299467  33.788415 -84.390984
2  A-1824552  33.788419 -84.390975
3  A-1943858  33.788419 -84.390975
4  A-2618068  33.788270 -84.390930
5  A-2692800  33.788270 -84.390930
6  A-2709983  33.788270 -84.390930
7  A-2814038  33.788270 -84.390930
accidents_df_5:
           ID  Start_Lat  Start_Lng
0   A-2539950  33.789928 -84.390837
1   A-2769238  33.789313 -84.390850
2     A-34818  33.790100 -84.390830
3     A-56427  33.790100 -84.390830
4     A-63150  33.790100 -84.390830
5     A-64985  33.790100 -84.390830
6     A-69610  33.790100 -84.390830
7     A-73720  33.790100 -84.390830
8     A-80759  33.790100 -84.390830
9    A-176078  33.790100 -84.390830
10   A-180533  33.790416 -84.390812
11   A-207742  33.790100 -84.390830
12   A-252936  33.790200 -84.390846
13   A-265839  33.790199 -84.390856
14   A-336104  33.790200 -84.390846
15   A-611165  33.790200 -84.390846
16   A-719145  33.790200 -84.390846
17   A-733520  33.790200 -84.390846
18   A-768923  33.790199 -84.390856
19  A-1020434  33.790200 -84.390846
20  A-1146454  33.790200 -84.390846
21  A-1768619  33.790200 -84.390846
22  A-1868520  33.790200 -84.390846
23  A-1889776  33.790200 -84.390846
24  A-1926992  33.790200 -84.390846
25  A-2081770  33.790570 -84.390800
26  A-2123806  33.790100 -84.390830
27  A-2207158  33.790100 -84.390830
28  A-2215463  33.790100 -84.390830
29  A-2217742  33.790100 -84.390830
30  A-2251895  33.790570 -84.390800
31  A-2351550  33.790570 -84.390800
32  A-2351557  33.790570 -84.390800
33  A-2354953  33.790570 -84.390800
34  A-2563158  33.790100 -84.390830
35  A-2567660  33.790100 -84.390830
36  A-2641082  33.790100 -84.390830
37  A-2646555  33.790100 -84.390830
38  A-2684777  33.790937 -84.390783
39  A-2725067  33.790690 -84.390797
40  A-2769226  33.790100 -84.390830
41  A-2769227  33.790100 -84.390830
42  A-2769237  33.790100 -84.390830
43  A-2831661  33.790570 -84.390800

/var/folders/2z/5xl96y_10clcjhbp86qg3fyr0000gn/T/ipykernel_87607/3913732399.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)
/var/folders/2z/5xl96y_10clcjhbp86qg3fyr0000gn/T/ipykernel_87607/3913732399.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)
/var/folders/2z/5xl96y_10clcjhbp86qg3fyr0000gn/T/ipykernel_87607/3913732399.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)
/var/folders/2z/5xl96y_10clcjhbp86qg3fyr0000gn/T/ipykernel_87607/3913732399.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)
/var/folders/2z/5xl96y_10clcjhbp86qg3fyr0000gn/T/ipykernel_87607/3913732399.py:13: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  accidents_df = accidents_df.append(find_accidents_on_route(df.iloc[start_point], df.iloc[end_point]), ignore_index=True)

## Calculate Accident Propensity Index

In [28]:
# create a list of dataframes
accidents_dfs = [accidents_df_1, accidents_df_2, accidents_df_3, accidents_df_4, accidents_df_5]
api_dict = {}

# loop through the list of dataframes and join each one with the all_accidents dataframe
for i, df in enumerate(accidents_dfs, start=1):
    exec(f'accidents_df_{i} = df.join(severity_data.set_index("ID"), on="ID", how="left")')
    exec(f'total_severity = accidents_df_{i}["Severity"].sum()')
    api = total_severity / 6035011
    api_dict[f'api_{i}'] = round(api,8)

In [29]:
accidents_df_1

           ID  Start_Lat  Start_Lng  Severity
0    A-152680  33.782870 -84.391229         2
1   A-1061831  33.782424 -84.391208         2
2   A-2505844  33.782878 -84.391229         3
3   A-2616607  33.782698 -84.391220         3
4   A-2738627  33.782366 -84.391216         3
5    A-140524  33.782290 -84.390880         3
6    A-493905  33.782457 -84.390849         2
7    A-503690  33.782457 -84.390849         2
8   A-1221326  33.782457 -84.390849         2
9   A-1409445  33.782457 -84.390849         2
10  A-1465177  33.782457 -84.390849         2
11  A-1780717  33.782457 -84.390849         2
12  A-1801859  33.782457 -84.390849         2
13  A-2485907  33.782900 -84.390850         3
14  A-2512851  33.782290 -84.390880         2
15    A-43876  33.783160 -84.390840         2
16   A-177208  33.783495 -84.390835         2
17  A-2150991  33.783230 -84.390840         3
18  A-2184775  33.783230 -84.390840         4

In [30]:
api_dict

{'api_1': 7.62e-06,
 'api_2': 1.243e-05,
 'api_3': 1.375e-05,
 'api_4': 3.31e-06,
 'api_5': 1.74e-05}